<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro</h3>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="inputLogin">Login</label>
                <input type="text" class="form-control" id="inputLogin" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="inputReplyTo">Retorno</label>
                <input type="text" class="form-control" id="inputReplyTo" placeholder="E-mail de retorno">
            </div>
            <div class="form-group">
                <label for="inputSMTP">SMTP</label>
                <input type="text" class="form-control" id="inputSMTP" placeholder="SMTP">
            </div>
            <div class="form-group">
                <label for="inputPort">Porta</label>
                <input type="text" class="form-control" id="inputPort" placeholder="Porta">
            </div>
            <div class="checkbox">
                <label>
                    <input id="chkBoxSSL" type="checkbox"> Usar SSL
                </label>
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>