<!-- Accordion END -->
<div id="accordion">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-toggle">
                    Cadastro
                </a>
            </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <form data-toggle="validator" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputStudentCode">Matrícula</label>
                        <input type="text" class="form-control" id="inputStudentCode" placeholder="Matrícula do Aluno"
                            style="text-transform: uppercase" required>
                    </div>
                    <div class="form-group">
                        <label for="inputStudentName">Aluno</label>
                        <input type="text" class="form-control" id="inputStudentName" placeholder="Aluno" style="text-transform: uppercase"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="sel2Grades">Série</label>
                        <br />
                        <select id="sel2Grades" class="form-control" style="width: 100%; text-transform: uppercase;">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel2Shifts">Turno</label>
                        <br />
                        <select id="sel2Shifts" class="form-control" style="width: 100%; text-transform: uppercase;">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputStudentBDay">Aniversário do aluno</label>
                        <input type="date" class="form-control" id="inputStudentBDay" style="text-transform: uppercase;">
                    </div>
                    <div class="form-group">
                        <label for="inputStudentEmail">Email do Aluno</label>
                        <input type="email" class="form-control" id="inputStudentEmail" placeholder="Email do Aluno">
                    </div>
                    <div class="form-group">
                        <label for="inputFatherName">Pai</label>
                        <input type="text" class="form-control" id="inputFatherName" placeholder="Pai" style="text-transform: uppercase"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="inputFatherEmail">Email do Pai</label>
                        <input type="email" class="form-control" id="inputFatherEmail" placeholder="Email do Pai">
                    </div>
                    <div class="form-group">
                        <label for="inputFatherBDay">Aniversário do Pai</label>
                        <input type="date" class="form-control" id="inputFatherBDay" style="text-transform: uppercase;">
                    </div>
                    <div class="form-group">
                        <label for="inputMotherName">Mãe</label>
                        <input type="text" class="form-control" id="inputMotherName" placeholder="Mãe" style="text-transform: uppercase">
                    </div>
                    <div class="form-group">
                        <label for="inputMotherEmail">Email da Mãe</label>
                        <input type="email" class="form-control" id="inputMotherEmail" placeholder="Email da Mãe">
                    </div>
                    <div class="form-group">
                        <label for="inputMotherBDay">Aniversário da Mãe</label>
                        <input type="date" class="form-control" id="inputMotherBDay" style="text-transform: uppercase;">
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button id="btnSaveStudent" type="submit" class="btn btn-primary" value="post">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
    <label>Alunos:</label>
    <div class="form-group">
        <select id="sel2StudentFilter" class="ddlFilter form-control">
            <option value="" selected>Todos</option>
            <option value="studentEmailYes">Alunos com e-mail</option>
            <option value="studentEmailNo">Alunos sem e-mail</option>
        </select>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
    <label>Pais:</label>
    <div class="form-group">
        <select id="sel2FatherFilter" class="ddlFilter form-control">
            <option value="" selected>Todos</option>
            <option value="fatherEmailYes">Pais com e-mail</option>
            <option value="fatherEmailNo">Pais sem e-mail</option>
        </select>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
    <label>Mães:</label>
    <div class="form-group">
        <select id="sel2MotherFilter" class="ddlFilter form-control">
            <option value="" selected>Todos</option>
            <option value="motherEmailYes">Mães com e-mail</option>
            <option value="motherEmailNo">Mães sem e-mail</option>
        </select>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
    <label>&nbsp;</label>
    <div class="form-group">
        <button id="btnApplyFilter" class="btn btn-primary">Aplicar Filtro</button>
    </div>
</div>
<div id="jsGrid">
</div>

<script>
    let userInfo = "{{json user}}".replace(/&quot;/g, '"');
</script>