.ui-jqgrid tr.jqgrow td {
    word-wrap: break-word;
    /* IE 5.5+ and CSS3 */
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: normal !important;
    height: auto;
    vertical-align: text-top;
    padding-top: 2px;
    padding-bottom: 3px;
}